/* src/pages/Price.css */

.price {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    padding-top: 100px;
    text-align: center;
}

.price h2.premium-underline-price {
    /* Эти два свойства решают проблему: */
    display: inline-block;
    width: auto;

    position: relative;
    /* Убираем margin-bottom, чтобы он не мешал */
    margin-bottom: 0;
}

.price h2.premium-underline-price::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -5px;
    background-color: var(--color-button);
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.price h2.premium-underline-price:hover::after {
    width: 100%;
}