
/* Сброс базовых отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}
:root {
    --font-main: 'Bebas Neue', 'Oswald';

}

body {
    font-family: var(--font-main);
    background: #101010;
    /* #800020 — вишнёвый (снизу), #000000 — чёрный (сверху) */
    color: #ffffff;
    line-height: 1.6;
    min-height: 100vh; /* чтобы фон растягивался на всю высоту */
    margin: 0;

}
::selection {
    background: var(--color-button); /* цвет подсветки */
    color: white; /* цвет текста внутри выделения */
}

/* сама полоска */
::-webkit-scrollbar {
    width: 10px; /* ширина скролла */
}

/* трек — фон */
::-webkit-scrollbar-track {
    background: var(--color-bg); /* фон под скроллом */
    border-radius: 10px;
}

/* ползунок */
::-webkit-scrollbar-thumb {
    background: var(--color-button); /* цвет ползунка */
    border-radius: 10px;
    border: 2px solid var(--color-bg); /* чтобы было красиво */
}

/* при наведении */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-text);
}